/* start variables */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --grey-color: #888;
    --red-color: #f44336;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
}
/* end variables */

/* start framework */


/* padding */
.p-20 {
    padding: 20px;
}
.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-15 {
    padding-left: 15px;
}

/* margin */
.m-20 {
    margin: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-5 {
    margin-right: 5px;
}

/* grid */
.d-grid {
    display: grid;
}

/* flex */
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.align-c {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* gap */
.gap-20 {
    gap: 20px;
}

/* display */
.d-block {
    display: block;
}

/* border */
.b-none {
    border: none;
}

/* position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}

/* border radius */
.rad-half {
    border-radius: 50%;
}
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

/* font */
.fs-25 {
    font-size: 25px;
}
.fs-15 {
    font-size: 15px;
}
.fs-14 {
    font-size: 14px;
}
.fs-13 {
    font-size: 13px;
}
.fw-bold {
    font-weight: bold;
}
.txt-c {
    text-align: center;
}


/* colors */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-black {
    color: black;
}
.c-white { 
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color)
}
.c-red {
    color: var(--red-color)
}

/* width */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}



/* mobile */
@media (max-width: 767.99px){
    .hide-mobile {
        display: none;
    }
    .txt-c-mobile {
        text-align: center;
    }
    .block-mobile {
        display: block;
    }
}

/* button */
.button-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* border */
.border-ccc {
    border: 1px solid #ccc;
}

/* outline */
.outline-none {
    outline: none;
}


